.wrapper {
  padding: 10px;
  font-size: 50px;
  color: aliceblue;
background-color: #3aa;
height: fit-content;
text-align: center
}
.wrapper .content {
  font-size: .4em;
}
.wrapper .author {
  text-align: center;
  font-size: .5em;
}

@media only screen and (max-width:620px) {
  .wrapper {
    width: fit-content;
    font-size: 30px;
    color: aliceblue;
  background-color: #3aa;
  height: fit-content;
  text-align: center
  }
  
  .wrapper .content {
    font-size: .4em;
  }
  .wrapper .author {
    text-align: center;
    font-size: .5em;
  }
}